<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cd-ntlm-auth"
    version="1.0.0">
    <name>Cordova Plugin Template</name>
    <description></description>
    <!--<license>MIT</license>-->
    <keywords></keywords>
    <repo>https://github.com/thisIsChetan/cd-ntlm-auth.git</repo>
    <!--<issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>-->

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="CdNtlmAuth" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CdNtlmAuth">
          <param name="android-package" value="com.example.CdNtlmAuth" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/example/CdNtlmAuth.java" target-dir="src/com/example/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="CdNtlmAuth" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="CdNtlmAuth">
                <param name="ios-package" value="CdNtlmAuth" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CdNtlmAuth.h" />
        <source-file src="src/ios/CdNtlmAuth.m" />
    </platform>
</plugin>
